@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
body{
    --background-color:rgb(221, 216, 255);
    --text-color:rgb(30, 30, 30);
    
    background: var(--background-color);
    color: var(--text-color);
}
body.dark{
    --background-color:rgb(0, 0, 0);
    --text-color:rgb(255, 255, 255);

    background:var(--background-color) ;
    color: var(--text-color);
}
.details{
   
    display:flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    color:var(--text-color);
    align-content: center;
    justify-content: center;
    margin: 1rem;
    .con1{
        display: relative;
        overflow: hidden;
        // border: red solid;
        width: fit-content;

        height: fit-content;
        img{
            width: auto;
            height: 20rem;
        }
    }
    .con2{
        width: 50%;
        p:nth-child(1){
            font-weight: 600;
            font-size: 2rem;
            // width: 50%;
        }
        p:nth-child(2){
        //    width: 50%;
        }
    }
}
.header{          
    display: flex;
    flex-direction: row ;  
    margin: 1rem 0rem;
    // border: red solid;
    justify-content: space-around; 
    // vertical-align: middle;
    align-content: center;
    align-items: center;
    ul{
        background: rgb(36, 36, 36);
        border-radius:0.5rem;
        padding: 0.6rem 0rem;
        width: 8rem;
        // border: red solid;

        text-align: center;
        // color: aliceblue;
        color: var(--text-color);
        font-weight: 600;
       
    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}
.links{
    display: flex;
    flex-direction: row;
    .box{
        position: relative;
        background: rgb(117, 46, 250);
        border-radius: 1rem;
        padding: 1rem;
        margin: 0rem 1.2rem;
        text-align: center;
        color: aliceblue;
        height: 5rem;
        width: 15rem;
overflow: hidden;
        .uil{
            font-size: 1.8rem;
        }
    }
    
}

a{
    list-style: none;
    text-decoration: none;
}
.box:nth-child(1){
background: rgb(33, 33, 33);
}
.box:nth-child(2){
background: rgb(255, 132, 0);    
}
.box:nth-child(3){
background: rgb(0, 128, 255);    
}
.box:nth-child(4){
background: rgb(0, 72, 255);    
}
.box:nth-child(5){
background: rgb(215, 79, 79);    
}
.box:nth-child(6){
background: rgb(14, 168, 22);    
}
.header ul a{
    color: azure;
}
#btn{
    border: none;
    display: flex;
    position: relative;
    flex-direction: row;
    background:  rgb(15, 6, 97);
    border-radius: 0.5rem;
    color: aliceblue;
    padding: 1rem 2rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    // border-radius: 0.8rem;
}
#sq{
    position: absolute;
    z-index: 3;
    border:solid 5px rgb(255, 255, 255);
    width: 1.3rem;
    height: 1.3rem;
    // border-radius: 0.2rem;

}
#sq:nth-child(5){
    bottom: 0rem;
    right: 0rem;  
    // border:solid red;
    // display: none;
    border-left: 1rem;
    border-top:0rem;


}
#sq:nth-child(6){
    bottom: 0rem;
    left: 0rem;
    // display: none;
    border-right: 1rem;
    border-top:0rem;


}
#sq:nth-child(3){
    top: 0rem;
    right: 0rem;
    border-left: 1rem;
    border-bottom:0rem;

    // display: none;

}
#sq:nth-child(4){
    top: 0rem;
    left: 0rem;
    // display: none;
    border-right: 1rem;
    border-bottom:0rem;


}